<link rel="stylesheet" href="/css/bootstrap.min.css" />
<style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(33, 32, 136);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
</style>
<ul>
  <li><a href="/app/sequelform">Add User</a></li>
  <li><a href="/app/validform">Form</a></li>
  <li><a href="/app/logout">logout</a></li>
</ul>
